// @import 'common/colors';
// @import 'common/reset';
// @import 'common/animations';
@import "common/layout";


body{
    header{
        position: absolute;
        background-color: transparent;
        width: 100%;
    }
    .blog-card {
        animation: zoom-in .5s ease-out;
        animation-play-state: paused;
        
        &__footer {
            &--style {
                font-size: 12px;
                text-transform: uppercase;
                color: $summer-color;
                letter-spacing: 1px;
                font-weight: 700;
                transition: color 0.3s linear;
    
                &:hover {
                    text-decoration: underline;
                    color: $head-link-hovered;
                }
            }
            &--muted {
                font-weight: 700;
                color: $copyright-color;
                margin: 0 8px;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 22px;
            // line-height: 2.5;
            // margin: 3rem 0;
            color: $contact-hover-text;
            transition: color 0.3s linear;
    
            &:hover {
                text-decoration: underline;
                color: black;
            }
        }
    }
    #previos {
        color: $contact-text;
        font-weight: 700;
        transition: color 0.3s linear;
    
        &:hover {
            color: $next-hover-color;
        }
    }
    #next {
        color: $contact-hover-text;
        font-weight: 700;
    }
    
    section#blog-home {
        height: 575px;
        position: relative;
        // background-image: url(../images/blog-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 150px;
    
        .blog-slogan {
            p {
                font-size: 18px;
                font-weight: 500;
                line-height: 2;
                padding: 0 40px;
            }
            .list-group {
                a {
                    font-weight: 600;
                }
    
                a:not(.disabled) {
                    color: $summer-color;
                    transition: color 0.3s linear;
    
                    &:hover {
                        color: $head-link-hovered;
                        text-decoration: underline;
                    }
                }
                a.disabled {
                    position: relative;
                    color: $contact-hover-text;
                    
                }
            }
        }
    }
    
    .myparallax {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // width: 100%;
        height: 575px;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
}