// @import 'common/colors';
// @import 'common/reset';
// @import 'common/animations';
@import "common/layout";



body{
    
    header{
        position: absolute;
        background-color: transparent;
        width: 100%;
    }
    .myparallax {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 600px;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    section#contact-home {
        height: 600px;
        position: relative;
        padding-top: 200px;
        
    
        .contact-slogan {
            .list-group {
                a {
                    font-weight: 600;
                }
    
                a:not(.disabled) {
                    color: $summer-color;
                    transition: color 0.3s linear;
    
                    &:hover {
                        color: $head-link-hovered;
                        text-decoration: underline;
                    }
                }
                a.disabled {
                    position: relative;
                    color: $contact-hover-text;
                }
            }
        }
    }
    .contact-info {
        p {
            color: $contact-text;
            font-weight: 600;
        }
    }
    section#contact-us {
        .social-links {
            a {
                color: $summer-color;
                font-size: 30px;
                transition: color 0.5s linear;            
    
                :hover {
                    color: $head-link-hovered;
                }
            }
        }
        .f-100 {
            font-size: 100px;
        }
        form {
            .form-control {            
                border: 0;
                border-bottom: 1px solid $contact-border-color;
                transition: border .4s linear;
                border-radius: 0;
    
                &:focus {
                    box-shadow: none;
                }
                &:hover{
                    border-color: black;
                }
            }
            a{
                letter-spacing: 3px;
                color: $summer-color;
                border: 1px solid $summer-color;
                border-radius: 0;
                transition: all .3s linear;
                font-weight: 700;
                text-transform: uppercase;
    
                &:hover{
                    background-color: $summer-color;
                    color: black;
                }
            }
        }
    }
    section#location{
        overflow: hidden;
        .stores{
            &__heading{
                color: $contact-text;
            }
            &__city{
               font-size: 30px;
            }
            &__text{
                padding: 0 4px;
            }
        }
    }
    
}

@media only screen and (max-width: 768px) {
    section#contact-us {
       
        .f-100 {
            font-size: 60px !important;
        }
      
    }
}


