

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c372b7f0bf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/index.css">
    <title>Document</title>
</head>

<body>
    <div class="mymodal">
        <div class="mymodal-dialog mymodal-dialog-right">
            <div class="mymodal-content">
                <div class="mymodal-header mx-3">
                    <a class="btn"><i class="fas fa-times"></i></a>
                </div>
                <div class="mymodal-body mx-5 my-4">

                </div>
                <div class="mymodal-footer mx-5">
                    <div class="heading d-flex justify-content-between">
                        <h5 class="total fw-bold">Subtotal:</h5>
                        <h5 class="total-price fw-bold">$0.00</h5>
                    </div>
                    <a href="basket.html" class="btn btn-outline-dark my-2 w-100">View Cart</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mymodal2">
        <div class="mymodal2-dialog mymodal2-dialog-right">
            <div class="mymodal2-content">
                <div class="mymodal2-header mx-3">
                    <a class="btn"><i class="fas fa-times"></i></a>

                </div>
                <div class="mymodal2-body mx-5 my-4 overflow-hidden">
                    <h1>Varkala</h1>
                </div>
                <div class="mymodal2-body mx-5 my-4 overflow-hidden">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item border-0"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item border-0"><a class="nav-link" href="about.html">About</a></li>
                        <li class="nav-item border-0"><a class="nav-link" href="blog.html">Blog</a></li>
                        <li class="nav-item border-0"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="mymodal2-footer mx-5">

                    <p class="text-muted small">
                        Samsa was a travelling salesman - and above it there hung a picture that he
                        had recently cut out
                        of an illustrated magazine and housed in a nice, gilded frame.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <header data-position="absolute" data-page="index">
        <nav class="navbar navbar-expand-lg navbar-light px-lg-5 py-4  d-lg-block">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Varkala</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active px-2" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2" href="blog.html">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-2" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex mx-5">
                        <input class="form-control border-0 px-2" type="search" placeholder="Search">
                        <button class="btn btn-search" type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <div class="svg-boxes">
                    <a href="#" class="mx-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="avatar-1">
                            <path data-name="layer2"
                                  d="M24 40.8V44c0 2-1 5.2-11 7A13.4 13.4 0 0 0 2 62h60a15.5 15.5 0 0 0-12-11c-10-1.9-10-5-10-7v-3.2"
                                  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-linejoin="round"
                                  stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
                            <path data-name="layer1"
                                  d="M46 25.6c0 10-6.3 18.4-14 18.4s-14-8-14-18v-9.6C18 6 25.4 2 32 2s14 3.6 14 14z"
                                  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-linejoin="round"
                                  stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
                        </svg>
                    </a>
                    <a href="#" class="mx-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="heart-1">
                            <path data-name="layer1"
                                  d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z"
                                  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="3"
                                  stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)">
                            </path>
                        </svg>
                    </a>
                    <a href="#" class="mx-2 position-relative" id="open">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="retail-bag-1">
                            <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                                  d="M4 14h56v48H4zm2 0V2h52v12" stroke-linejoin="round" stroke-linecap="round"
                                  style="stroke:var(--layer1, #202020)"></path>
                            <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                                  d="M6.2 2.1L16 8 6 14M57.8 2.1L48 8l10 6" stroke-linejoin="round" stroke-linecap="round"
                                  style="stroke:var(--layer1, #202020)"></path>
                            <path data-name="layer1" d="M42 24a10 10 0 0 1-20 0" fill="none" stroke="#202020"
                                  stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round"
                                  style="stroke:var(--layer1, #202020)"></path>
                        </svg>
                        <span class="quantity"></span>
                    </a>
                </div>

                <a class="btn menu-icon" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="menu-hamburger-1">
                        <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                              d="M2 14h60M2 32h36" stroke-linejoin="round" stroke-linecap="round"
                              style="stroke:var(--layer1, #202020)"></path>
                        <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" d="M2 50h60"
                              stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #202020)"></path>
                    </svg>
                </a>
            </div>
            <div class="container-fluid">
                <div class="row w-100">
                    <div class="col-12">
                        <div class="myDropdownList d-lg-none">
                            <ul class="navbar-nav list-group flex-column">
                                <li class="nav-item border-0"><a class="nav-link" href="index.html">Home</a></li>
                                <li class="nav-item border-0"><a class="nav-link" href="about.html">About</a></li>
                                <li class="nav-item border-0"><a class="nav-link" href="blog.html">Blog</a></li>
                                <li class="nav-item border-0"><a class="nav-link" href="contact.html">Contact</a></li>
                                <form class="d-flex my-3">
                                    <input class="form-control border-0 px-2 PY-3" type="search" placeholder="Search">
                                    <button class="btn btn-search" type="button"><i class="fas fa-search"></i></button>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row p-5 justify-content-between">

                <div class="col-12 col-lg-4">
                    <div class="left-side">
                        <h6 class="fw-bold">Be in touch</h6>
                        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>At itaque temporibus.</p>
                        <div class="input-group  my-4">
                            <input type="text" class="form-control px-0" placeholder="Your Email Address" />
                            <a class="btn py-0"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-2">
                    <div class="myList">
                        <a class="btn d-block d-lg-none">
                            Shop <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        </a>
                        <ul class="contact-list px-0 d-lg-block">
                            <h6 class="d-none d-lg-block">Shop</h6>
                            <li><a href="#">For Women</a></li>
                            <li><a href="#">For Men</a></li>
                            <li><a href="#">Stores</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-2">
                    <div class="myList">
                        <a class="btn d-block d-lg-none">
                            Your Account <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        </a>
                        <ul class="contact-list px-0 d-lg-block">
                            <h6 class="d-none d-lg-block">Your Account</h6>
                            <li><a href="#">For Women</a></li>
                            <li><a href="#">For Men</a></li>
                            <li><a href="#">Stores</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-2">
                    <div class="myList">
                        <a class="btn d-block d-lg-none">
                            Company <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        </a>
                        <ul class="contact-list px-0 d-lg-block">
                            <h6 class="d-none d-lg-block">Company</h6>
                            <li><a href="#">For Women</a></li>
                            <li><a href="#">For Men</a></li>
                            <li><a href="#">Stores</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row py-5">
                <div class="col-12 col-lg-4">
                    <div class="copyright px-lg--5 text-center text-lg-start my-2">
                        <small>© 2020 Your company. All rights reserved.</small>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <ul class="site-rules row justify-content-center justify-content-lg-end list-group list-group-horizontal">
                        <li class="col-auto"><a href="#"><small>Terms & Conditions</small></a></li>
                        <li class="col-auto"><a href="#">Privacy & cookies</a></li>
                        <li class="col-auto"><a href="#">Accessibility</a></li>
                        <li class="col-auto"><a href="#">Customer Data Promise</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
    <script src="~/js/main.js"></script>
    <script>
        var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
        var countdown = new Countdown('countdown', deadline);
    </script>
</body>

</html>
