@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.mycollapse {
  transform: rotate(0deg) !important; }

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slide-down {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 0;
    transform: translateY(50%); } }

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.8); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

.bg-muted {
  background-color: #f8f9fa; }

.mymodal,
.mymodal2 {
  transition: all 0.15s linear;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000030;
  background-blend-mode: color-burn;
  display: none; }
  .mymodal-dialog,
  .mymodal2-dialog {
    position: relative;
    left: 100%;
    transition: all 0.2s linear;
    height: 100vh; }
    .mymodal-dialog-right,
    .mymodal2-dialog-right {
      width: 500px;
      background-color: white; }
  .mymodal-header,
  .mymodal2-header {
    display: flex;
    justify-content: flex-end; }
    .mymodal-header a,
    .mymodal2-header a {
      transition: all 0.2s linear;
      font-size: 30px;
      color: #adb5bd; }
  .mymodal-body,
  .mymodal2-body {
    max-height: 350px;
    overflow-y: scroll;
    /* width */
    /* Track */
    /* Handle */ }
    .mymodal-body ul.navbar-nav li a,
    .mymodal2-body ul.navbar-nav li a {
      color: #212529;
      transition: color 0.3s linear; }
      .mymodal-body ul.navbar-nav li a:hover,
      .mymodal2-body ul.navbar-nav li a:hover {
        color: #bcac76; }
      .mymodal-body ul.navbar-nav li a i,
      .mymodal2-body ul.navbar-nav li a i {
        transition: transform 0.3s linear; }
    .mymodal-body::-webkit-scrollbar,
    .mymodal2-body::-webkit-scrollbar {
      width: 3px; }
    .mymodal-body::-webkit-scrollbar-track,
    .mymodal2-body::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px; }
    .mymodal-body::-webkit-scrollbar-thumb,
    .mymodal2-body::-webkit-scrollbar-thumb {
      background: #495057;
      border-radius: 10px; }
      .mymodal-body::-webkit-scrollbar-thumb:hover,
      .mymodal2-body::-webkit-scrollbar-thumb:hover {
        background: #000; }
  .mymodal-product,
  .mymodal2-product {
    display: flex;
    border-bottom: 1px solid #ced4da;
    padding: 2rem 0; }
  .mymodal-image,
  .mymodal2-image {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center; }
  .mymodal-title,
  .mymodal2-title {
    font-weight: 700;
    position: relative;
    padding: 4px 0;
    color: #868e96;
    transition: color 0.3s linear; }
    .mymodal-title::after,
    .mymodal2-title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #212529;
      transition: all 0.5s linear; }
    .mymodal-title:hover,
    .mymodal2-title:hover {
      color: #212529; }
      .mymodal-title:hover::after,
      .mymodal2-title:hover::after {
        width: 100%; }
    .mymodal-title-price,
    .mymodal2-title-price {
      font-weight: 700; }
    .mymodal-title-quantity,
    .mymodal2-title-quantity {
      color: #adb5bd;
      font-size: 14px; }

header {
  position: absolute;
  width: 100%;
  z-index: 1; }
  header .menu-icon svg {
    width: 25px; }
  header a.nav-link {
    font-weight: 600; }
  header form {
    position: relative; }
    header form input {
      border: 0 !important;
      border-radius: 0 !important;
      transition: border .3s linear !important;
      border-bottom: 1px solid #ced4da !important; }
      header form input:focus {
        box-shadow: none !important; }
      header form input:hover {
        border-bottom: 1px solid black !important; }
    header form .btn-search {
      position: absolute;
      right: 0;
      font-size: 20px;
      top: 50%;
      transform: translateY(-50%); }
      header form .btn-search i {
        color: #212529; }
  header .svg-boxes svg {
    width: 25px; }
  header .svg-boxes .quantity {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid white;
    padding: 0 0.25rem;
    font-size: 10px;
    font-weight: 700;
    text-shadow: 0 0 1px white;
    background-color: black;
    color: white;
    display: flex; }
  header .myDropdownList {
    display: none; }

section#info {
  min-height: 300px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center; }
  section#info .icon svg {
    width: 30px;
    height: 30px;
    stroke-width: 3px; }
  section#info .text p {
    font-size: 14px;
    line-height: 1.5;
    margin: 8px; }
  section#info .text--dark {
    font-weight: 900;
    color: #212529; }
  section#info .text--muted {
    font-weight: 600;
    color: #868e96; }

footer .left-side p {
  color: #868e96;
  font-weight: bold;
  margin: 0;
  font-size: 14px; }

footer .left-side .input-group input {
  border: 0;
  border-bottom: 1px solid #ced4da;
  transition: border 0.3s linear; }
  footer .left-side .input-group input:focus {
    box-shadow: none;
    z-index: 0; }
  footer .left-side .input-group input:hover {
    border-bottom: 1px solid #212529; }
  footer .left-side .input-group input::placeholder {
    color: #adb5bd;
    font-weight: 600; }

footer .left-side .input-group a {
  position: absolute;
  font-size: 35px;
  color: gray;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: color 0.3s linear; }
  footer .left-side .input-group a:hover {
    color: #212529; }

footer .myList a.btn {
  color: #212529;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding: 0;
  text-align: left;
  position: relative; }
  footer .myList a.btn i {
    position: absolute;
    right: 0;
    font-size: 30px;
    bottom: 0;
    transform: rotate(90deg);
    transition: all 0.2s linear; }
  footer .myList a.btn i.fa-plus {
    opacity: 1; }
  footer .myList a.btn i.fa-minus {
    opacity: 0; }

footer .myList .contact-list {
  display: none; }
  footer .myList .contact-list h6 {
    color: #212529;
    font-weight: 700;
    margin-bottom: 1.5rem; }
  footer .myList .contact-list li {
    margin: 8px 0; }
    footer .myList .contact-list li a {
      position: relative;
      padding: 4px 0;
      color: #868e96;
      transition: color 0.3s linear;
      font-weight: 600; }
      footer .myList .contact-list li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #212529;
        transition: all 0.5s linear; }
      footer .myList .contact-list li a:hover {
        color: #212529; }
        footer .myList .contact-list li a:hover::after {
          width: 100%; }

footer .copyright small {
  color: #adb5bd;
  font-weight: 600; }

footer .site-rules li a {
  color: #adb5bd;
  font-weight: 600; }
  footer .site-rules li a:hover {
    text-decoration: underline; }

body #carouselExampleIndicators {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 100px 0; }
  body #carouselExampleIndicators .carousel-indicators button {
    height: 5px;
    border-radius: 50%;
    width: 5px;
    background-color: #868e96; }
  body #carouselExampleIndicators .carousel-indicators .active {
    background-color: #bcac76;
    transform: scale(2); }
  body #carouselExampleIndicators .carousel-inner {
    z-index: 1; }
    body #carouselExampleIndicators .carousel-inner .content {
      width: 50%; }
      body #carouselExampleIndicators .carousel-inner .content .shop-text {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 600; }
      body #carouselExampleIndicators .carousel-inner .content .shop-small-text {
        color: #868e96;
        font-weight: 600; }
      body #carouselExampleIndicators .carousel-inner .content .shop-title {
        font-size: 72px;
        font-weight: 700; }
      body #carouselExampleIndicators .carousel-inner .content .shop-btn {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 5px;
        border: 1px solid #bcac76;
        border-radius: 0;
        transition: all 0.2s linear;
        align-self: center;
        color: #bcac76;
        margin-top: 3rem;
        z-index: 1; }
        body #carouselExampleIndicators .carousel-inner .content .shop-btn:hover {
          background-color: #bcac76;
          color: white; }
    body #carouselExampleIndicators .carousel-inner .background-container {
      position: relative;
      width: 50%; }
      body #carouselExampleIndicators .carousel-inner .background-container img {
        position: relative;
        z-index: 1; }
      body #carouselExampleIndicators .carousel-inner .background-container svg {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%; }
      body #carouselExampleIndicators .carousel-inner .background-container--gray path {
        fill: #e7eaf9; }
      body #carouselExampleIndicators .carousel-inner .background-container--pink path {
        fill: #ffdddd; }
      body #carouselExampleIndicators .carousel-inner .background-container--gold path {
        fill: #f5e6a8; }
  body #carouselExampleIndicators .big-path {
    position: absolute;
    z-index: 0;
    width: 700px;
    left: -200px;
    top: -200px; }
    body #carouselExampleIndicators .big-path path {
      width: 700px;
      fill: #e0d4ab; }

body section#populars .heading__text {
  color: #868e96;
  font-size: 19px; }
  body section#populars .heading__text--space {
    letter-spacing: 2px; }

body section#populars .popular-card {
  transition: transform 0.2s linear;
  overflow: hidden; }
  body section#populars .popular-card__body--transform {
    transform: translateX(25%); }
  body section#populars .popular-card__title {
    font-weight: 700; }
  body section#populars .popular-card__text {
    color: #868e96;
    font-weight: 600; }
  body section#populars .popular-card__btn {
    padding: 0;
    letter-spacing: 4px;
    color: #212529;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px; }
  body section#populars .popular-card:hover {
    transform: scale(1.05); }

body section#time {
  background-color: #ebf7ff; }
  body section#time .row {
    min-height: 500px;
    fill: #bcac76;
    position: relative; }
    body section#time .row svg {
      position: absolute;
      width: 500px;
      left: -297px;
      top: 0;
      transform: rotate(156deg); }
    body section#time .row .discount {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      body section#time .row .discount__text {
        color: #dc3545;
        font-size: 17px;
        letter-spacing: 3px;
        font-weight: 700;
        z-index: 1; }
      body section#time .row .discount__heading {
        font-size: 40px;
        font-weight: 700;
        z-index: 1; }
      body section#time .row .discount__price {
        display: flex;
        z-index: 1; }
        body section#time .row .discount__price del,
        body section#time .row .discount__price span {
          color: #868e96;
          font-weight: 600; }
      body section#time .row .discount__percent {
        z-index: 1;
        background-color: #dc3545;
        color: white;
        font-size: 12px;
        font-weight: 700;
        text-shadow: 0 0 2px white; }
      body section#time .row .discount__time {
        height: 100px;
        width: 100%;
        z-index: 1; }
      body section#time .row .discount__btn {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        border: 1px solid #212529;
        border-radius: 0;
        transition: all 0.2s linear;
        z-index: 1; }
        body section#time .row .discount__btn:hover {
          background-color: #212529;
          color: white; }

body section#products .choices p {
  font-weight: 600;
  font-size: 19px;
  color: #868e96;
  line-height: 1.7; }

body section#products .product-list .list-group-item a {
  color: #868e96;
  font-weight: 600;
  transition: color 0.3s linear; }
  body section#products .product-list .list-group-item a:hover {
    color: #212529;
    text-decoration: underline; }
  body section#products .product-list .list-group-item a:focus {
    color: #212529; }

body section#products .product-list .list-group-item .active {
  color: #212529; }

body section#products .head-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bcac76;
  font-weight: 700; }
  body section#products .head-link:hover {
    color: #9a884b;
    text-decoration: underline; }

body section#products .product-card {
  cursor: pointer;
  animation: zoom-in 0.5s ease-out;
  animation-play-state: paused; }
  body section#products .product-card__img {
    position: relative; }
    body section#products .product-card__img img {
      width: 100%; }
    body section#products .product-card__img .firstimage {
      position: relative;
      z-index: 1;
      transition: opacity 0.5s linear; }
    body section#products .product-card__img .hoveredimage {
      position: absolute;
      top: 0;
      left: 0; }
    body section#products .product-card__img small {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0.5rem;
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      font-weight: 700;
      z-index: 1;
      cursor: text;
      text-shadow: 0 0 1px white; }
    body section#products .product-card__img .fresh {
      background-color: #877f64;
      color: white; }
    body section#products .product-card__img .sale {
      background-color: #bcac76;
      color: #212529; }
    body section#products .product-card__img .sold {
      background-color: #212529;
      color: white; }
    body section#products .product-card__img .addbasket {
      cursor: default;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      background: white;
      width: 100%;
      z-index: 1;
      opacity: 0; }
      body section#products .product-card__img .addbasket > a {
        color: #212529;
        font-weight: 600;
        transition: color 0.3s linear; }
        body section#products .product-card__img .addbasket > a:hover {
          text-decoration: underline;
          color: #000; }
      body section#products .product-card__img .addbasket__icons a {
        font-size: 24px;
        color: #212529;
        transition: color 0.3s linear; }
        body section#products .product-card__img .addbasket__icons a:hover {
          color: #bcac76; }
  body section#products .product-card__body a {
    margin: 0;
    line-height: 2.5;
    color: #212529;
    transition: color 0.3s linear;
    cursor: pointer;
    font-weight: 900; }
    body section#products .product-card__body a:hover {
      color: black;
      text-decoration: underline; }
  body section#products .product-card__body .price {
    display: flex;
    justify-content: space-between;
    overflow: hidden; }
    body section#products .product-card__body .price small {
      color: #adb5bd;
      font-weight: 700;
      line-height: 2.5; }
    body section#products .product-card__body .price .stars {
      opacity: 0; }
      body section#products .product-card__body .price .stars span i {
        font-size: 12px;
        color: #bcac76; }
      body section#products .product-card__body .price .stars .gray i {
        color: #868e96; }

body section#summer .row {
  height: 400px;
  background-color: #eae0bd;
  overflow-x: clip;
  fill: #bcac76;
  position: relative; }
  body section#summer .row svg {
    position: absolute;
    width: 500px;
    left: -300px;
    top: -100px; }
  body section#summer .row .slogan {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body section#summer .row .slogan__heading {
      font-size: 70px;
      font-weight: 700;
      align-self: center;
      z-index: 1;
      text-align: center; }
    body section#summer .row .slogan__text {
      font-size: 30px;
      font-weight: 600;
      z-index: 1;
      text-align: center; }
    body section#summer .row .slogan__btn {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 4px;
      border: 1px solid #212529;
      border-radius: 0;
      transition: all 0.2s linear;
      align-self: center;
      z-index: 1; }
      body section#summer .row .slogan__btn:hover {
        background-color: #212529;
        color: white; }
  body section#summer .row img {
    right: 0;
    top: 0;
    position: absolute;
    transform: translateY(-50px); }

.myDropdownList {
  display: none; }
  .myDropdownList form input {
    transition: border .3s linear;
    border-bottom: 1px solid #868e96 !important;
    border-radius: 0; }
    .myDropdownList form input:focus {
      box-shadow: none; }
    .myDropdownList form input:hover {
      border-bottom: 1px solid #000 !important; }

@media only screen and (max-width: 575px) {
  #carouselExampleIndicators .background-container {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important; }
  section#time .discount__time {
    height: 200px !important; } }

@media only screen and (max-width: 767px) {
  #carouselExampleIndicators .content {
    width: 100% !important; }
    #carouselExampleIndicators .content .shop-title {
      font-size: 36px !important;
      font-weight: 400 !important; }
  #carouselExampleIndicators .background-container img {
    width: 100% !important;
    height: 100% !important; }
  #carouselExampleIndicators .background-container svg {
    top: 0 !important;
    right: -50% !important; }
  section#summer .slogan__heading {
    font-size: 45px !important; } }

@media only screen and (max-width: 991px) {
  #carouselExampleIndicators .background-container svg {
    top: 0 !important;
    right: auto !important; } }
